.contenedor-header {
    background: #16a34a;
    margin: auto;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

}

.contenedor-header header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #1CB698;
}

header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
}